$primary: #0e3c34;
$light: #dedfec;
$mutedLight: #4c4e67;
$danger: hsl(354, 84%, 43%);
$bg: #5bc09e;
$radial-gradient: radial-gradient(circle, rgba(80, 21, 206, 0.585) 0%, rgb(33, 233, 123) 100%);
$linear-gradient: linear-gradient(0deg, rgb(69, 200, 233) 0%, rgb(181, 240, 62) 100%)
